{% extends 'base.html'%}
{% load mptt_tags %}
{% block title %} {{ advert.title }} {% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}


{% block advert %}


{% load static %}

<h1>{{ adv.title }}</h1>
<div class="col-md-2 col-md-push-8">
    {{ adv.publication_datetime }}
</div>
<div class="row">

    <div class="col-md-5 col-md-push-4">
        <div id="carousel{{ad.id}}" class="carousel slide" data-bs-ride="carousel" style="width: 500px">
            <div class="carousel-indicators">
                {% for photo in adv.gallery_set.all %}
                {% if forloop.first %}
                <button type="button" data-bs-target="#carousel{{ad.id}}" data-bs-slide-to="{{ forloop.counter0 }}"
                        class="active"
                        aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                {% else %}
                <button type="button" data-bs-target="#carousel{{ad.id}}" data-bs-slide-to="{{ forloop.counter0 }}"
                        aria-label="Slide {{ forloop.counter }}"></button>
                {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for photo in adv.gallery_set.all %}
                {% if forloop.first %}
                <div class="carousel-item active" data-bs-interval="999999">
                    <img src="{{ photo.image.url }}" class="d-block w-100" alt="..." style="height: 500px">
                </div>
                {% else %}
                <div class="carousel-item" data-bs-interval="999999">
                    <img src="{{ photo.image.url }}" class="d-block w-100" alt="..." style="height: 500px">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ad.id}}"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Пред.</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ad.id}}"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">След.</span>
            </button>

        </div>
        <link rel="stylesheet" href="{%static 'css/like.css'%}">
        {% if adv.id in request.session.liked %}

        <form action="{% url 'remove_favorites' adv.id %}" method="POST">
            {% csrf_token %}
            <button class="button dark">
                <div class="hand">
                    <div class="thumb"></div>
                </div>
                <span>Убрать<span>d</span></span>
            </button>

        </form>

        {% else %}

        <form action="{% url 'add_favorites' adv.id %}" method="POST">
            {% csrf_token %}
            <button class="button">
                <div class="hand">
                    <div class="thumb"></div>
                </div>
                <span>Добавить<span>d</span></span>
            </button>
        </form>
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">Категория: {{ adv.category.name }}</h5>
            <p class="card-text">{{ adv.content }}</p>


            <div class="card" style="width: 18rem;">
                {% for val in adv.descriptionvalue_set.all %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{val}}</li>
                </ul>
                {% endfor %}
            </div>


        </div>


    </div>
    <div class="col-md-2 col-md-pull-4">


        <div class="position-absolute top-1 start-50 ">
            <h3>{{ adv.price }} &#x20bd <br></h3>

            <h6>Контактные данные<br></h6>

            {{ adv.author.first_name}}<br>
            {{ adv.author.phone_number}}<br>
            {{ adv.address }}<br>

        </div>

    </div>
</div>


{% endblock%}