{% extends 'base.html'%}
{% block title %} Добавить объявление {% endblock %}
{% block registration %}

{% load  crispy_forms_tags %}

<div class="list-group" style="width: 250px">
    {%for cat in categories%}
        <a href="{% url 'create_advert' cat.slug %}" class="list-group-item list-group-item-action">{{cat.name}}</a>
    {%endfor%}
</div>


{% endblock %}