{% extends 'base.html'%}
{% block title %} Добавить объявление {% endblock %}
{% block registration %}

{% load  crispy_forms_tags %}

<div class="col-md-4">
    <p>{{category}}</p>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy }}

        {% for ch in characteristics %}
        <p>{{ch}}<br><input type="text" name="{{ch}}" value="<не указано>"></p>
        {% endfor %}

        <p><input type="file" name="gallery" multiple></p>

        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>

{% endblock %}