{% extends 'base.html'%}
{% block title %}{{category.name}} {% endblock %}

{% load static %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}


{% block advert %}

<div class="col-md-8">
    <div class="container">
        {% if not adverts %}
        <link rel="stylesheet" href="{%static 'css/text.css'%}">
        <div class="wrapper">
            <div class="typing-demo">
                В данной категории нет объявлений
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% include 'inc/_advert.html' %}

{% endblock%}