{% extends 'base.html'%}
{% block title %} О нас {% endblock %}
{% load  crispy_forms_tags %}
{% load static %}

{% block about %}

<div class="col-md-8">
    <div class="card mb-2" style="max-width: 1540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'img/about/bul_bor.jpg' %}" width="200" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Информация</h5>
                    <p class="card-text"><b>Разработчики:</b><br>
                        Евгений Лебедев - lebedewhs@yandex.ru<br>
                        Дмитрий Виляховец - dmitriy.vilyakhovets@gmail.com
                    </p>
                    <p class="card-text"><b>Используемые технологии:</b><br>
                        - Django + DRF<br>
                        - Celery + Redis<br>
                        - Docker<br>
                        - PostgreSQL
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block subscription %}
<h1>Подписка на новости сайта</h1>
<div class="col-md-4">

    <form action="#" method="post">
        {% csrf_token %}
        {{form|crispy }}<br>
        <button type="submit" class="btn btn-primary">Подписаться</button>
    </form>
</div>
{% endblock %}
