{% extends 'base.html'%}
{% load static %}
{% block title %} Избранное  {% endblock %}

{% block sidebar %}

{% include "inc/_user_sidebar.html" %}

{% endblock %}


{% block advert %}
{% if not adverts %}
<div class="col-md-4">

    <div class="card">
        <div class="card-header">
            Рекомедация
        </div>
        <div class="card-body">

            <p class="card-text">Тут будут хранится объявления, которые Вы опубликуете, для этого нажмите кнопку
                "Добавить объявление" на верхней панели управления</p>
            <a href="{% url 'choose_category' %}" class="btn btn-primary">Попробовать</a>
        </div>
    </div>

</div>

{% else %}
<div class="page-section">

    <div class="container">

        <div class="row mt-3">
            {% for ad in adverts %}

            <div class="col-lg-4 py-3">
                <h3><a href="{% url 'advert_detail' ad.id %}" class="link-dark">{{ ad.title }}</a></h3>
                <style>

                  a {
                    text-decoration: none;
                   }
                  a:hover {
                    text-decoration: underline;
                   }

                </style>

                <h5>{{ ad.price }} &#x20bd <br></h5>
                {{ ad.edit_datetime }}<br>
                {{ ad.address }}<br>

                <a style="display:block" href="{% url 'advert_detail' ad.id %}">
                    <div id="carousel{{ad.id}}" class="carousel slide" data-bs-ride="carousel" style="width: 260px">
                        <div class="carousel-indicators">
                            {% for photo in ad.gallery_set.all %}
                            {% if forloop.first %}
                            <button type="button" data-bs-target="#carousel{{ad.id}}"
                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                    class="active"
                                    aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                            {% else %}
                            <button type="button" data-bs-target="#carousel{{ad.id}}"
                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                    aria-label="Slide {{ forloop.counter }}"></button>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for photo in ad.gallery_set.all %}
                            {% if forloop.first %}
                            <div class="carousel-item active" data-bs-interval="999999">
                                <img src="{{ photo.image.url }}" class="d-block w-100" alt="..." style="height: 250px">
                            </div>
                            {% else %}
                            <div class="carousel-item" data-bs-interval="999999">
                                <img src="{{ photo.image.url }}" class="d-block w-100" alt="..." style="height: 250px">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ad.id}}"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Пред.</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ad.id}}"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">След.</span>
                        </button>
                    </div>
                </a>
                <link rel="stylesheet" href="{%static 'css/like.css'%}">

                <form action="{{ad.id}}/update" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Редактировать</button>
                </form>
                <form action="{{ad.id}}/delete" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>


            </div>
            {% endfor %}
        </div>

    </div> <!-- .container -->
</div> <!-- .page-section -->
{% endif %}
{% endblock%}