{% extends 'base.html'%}
{% load static %}
{% block title %} Избранное  {% endblock %}

{% load  crispy_forms_tags %}

{% block sidebar %}

<link rel="stylesheet" href="{%static 'css/user_bar.css'%}">
<details>
    <summary></summary>
    <nav class="menu">
        <a href="{% url 'authored_ads' %}">Мои объявления</a>
        <a href="{% url 'favorites_advert' %}">Избранное</a>
        <a href="#link">Мои данные</a>
        <a href="#link">Мои отзывы</a>
        <a href="#link">Настройки</a>
    </nav>
</details>

{% endblock %}


{% block advert %}
<form method="post">{% csrf_token %}
<p>Вы точно хотите удалить объявление "{{ object }}"?</p>
    <input type="submit" value="Подтвердить">
</form>

{% endblock%}