{% extends 'base.html'%}
{% block title %} Избранное  {% endblock %}
{% load static %}
{% block sidebar %}

{% include 'inc/_user_sidebar.html' %}

{% endblock %}

{% block advert %}
{% if not request.session.liked %}
<div class="col-md-4">

    <div class="card">
        <div class="card-header">
            Рекомедация
        </div>
        <div class="card-body">

            <p class="card-text">Вы можете хранить тут объявления, которые Вам понравились, для этого нажмите кнопку
                "Добавить" она находится под фотографией каждого объявления</p>
            <a href="{% url 'home' %}" class="btn btn-primary">Попробовать</a>
        </div>
    </div>

</div>

{% else %}
{% include 'inc/_advert.html' %}
{% endif %}
{% endblock%}

