{% extends 'base.html'%}
{% block title %} Вход {% endblock %}
{% block registration %}

{% load  crispy_forms_tags %}

<div class="col-md-4">
    <h1>Заполните форму</h1>

    <form action="#" method="post">
        {% csrf_token %}
        {{form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary"> Вход</button>
    </form>
</div>
{% endblock %}