{% extends 'base.html'%}
{% load  crispy_forms_tags %}
{% block title %} Мои данные{% endblock %}

{% block sidebar %}

{% include 'inc/_user_sidebar.html' %}

{% endblock %}

{% block my_data %}


{% if update %}
<div class="col-md-5 offset-md-0">
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if request.user.photo %}
        <div class="col-md-8 offset-md-0">
            <img src="{{request.user.photo.url}}" style="height:180px; width:180px; border-radius:50%;" alt="">
        </div>
        {% endif %}

        {{form|crispy }}<br>


        <button type="submit" class="btn btn-primary">Обновить</button>
    </form>
</div>
{% else  %}
{% if request.user.photo %}

<head>
    <meta charset="utf-8">
    <style>
   .round {
    border-radius: 50%;
   }

    </style>
</head>
<body>

<img src="{{request.user.photo.url}}" style="height:180px; width:180px; border-radius:50%;" alt=""
     src="путь к изображению">
</body>

{% endif %}
<div class="col-md-5 offset-md-0">
    <ul class="list-group">
        <li class="list-group-item">Имя: {{request.user.first_name}}</li>
        <li class="list-group-item">Фамилия: {{request.user.last_name}}</li>
        <li class="list-group-item">Номер телефона: {{request.user.phone_number}}</li>
        <li class="list-group-item">Email: {{request.user.email}}</li>
    </ul>

    <a href="{% url 'update_my_data' %}" class="underline-one">Изменить данные</a>

</div>


{% endif %}

{% endblock %}
