{% extends 'base.html'%}
{% load static %}
{% block title %} Избранное  {% endblock %}

{% load  crispy_forms_tags %}

{% block sidebar %}

<link rel="stylesheet" href="{%static 'css/user_bar.css'%}">
<details>
    <summary></summary>
    <nav class="menu">
        <a href="{% url 'authored_ads' %}">Мои объявления</a>
        <a href="{% url 'favorites_advert' %}">Избранное</a>
        <a href="#link">Мои данные</a>
        <a href="#link">Мои отзывы</a>
        <a href="#link">Настройки</a>
    </nav>
</details>

{% endblock %}


{% block advert %}
<div class="col-md-4">
    <p>{{category}}</p>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        {% for val in values %}
        <label for="{{val.description}}">{{val.description}}</label>
        <p><input type="text" name="{{val.description}}" value="{{val.value}}"></p>
        {% endfor %}

        {% for photo in adv.gallery_set.all %}
        <img src="{{ photo.image.url }}" alt="..." style="height: 250px; width: 250px">
        <input type="checkbox" name="{{photo.id}}"
               checked>
        {% endfor %}

        <p><input type="file" name="gallery" multiple></p>

        <p><button type="submit" class="btn btn-primary">Обновить</button></p>
    </form>
</div>

{% endblock%}