<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>

        {% block title %}

        {% endblock %}

    </title>

</head>
<body>

{% include 'inc/_nav.html' %}

{% block sidebar %}

{% endblock %}


<div class="container">
    <div class="col-md-12 offset-md-1">
        <h3></h3>
        <div class="row">
            {% block my_data %}

            {% endblock %}


            {% block about %}

            {% endblock %}

            {% block subscription %}

            {% endblock %}


            {% block advert %}

            {% endblock %}

            {% block registration %}

            {% endblock %}
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>
