/* Фиксированный боковых навигационных ссылок, полной высоты */
.sidenav {

  height: 100%;
  width: 180px;
  overflow: auto;
  position: fixed;
  z-index: 0;
  top: 9;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: scroll;
  padding-top: 50px;
}

/* Стиль боковых навигационных ссылок и раскрывающейся кнопки */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* При наведении курсора мыши */
.sidenav a:hover, .dropdown-btn:hover {
  color: #4682B4;
}

/* Основное содержание */
.main {
  margin-left: 250px; /* То же, что и ширина боковой навигации */
  font-size: 10px; /* Увеличенный текст для включения прокрутки */
  padding: 0px 10px;
}

/* Добавить активный класс для кнопки активного выпадающего списка */


/* Выпадающий контейнер (по умолчанию скрыт). Необязательно: добавьте более светлый цвет фона и некоторые левые отступы, чтобы изменить дизайн выпадающего содержимого */
.dropdown-container {
  display: none;
  background-color: #FFFFF;
  padding-left: 20px;

}

/* Необязательно: стиль курсора вниз значок */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}