{% load mptt_tags %}
{% load main_tags %}
{% load static %}
<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
    <link rel="stylesheet" href="{%static 'css/link.css'%}">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                                        href="#">Доска объявлений </a></li>


                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                                        href="{% url 'choose_category' %}">Добавить объявление </a></li>
                <li class="nav-item">


                    <div class="col-md-12">
                        {% get_selected_categories as selected_categories %}
                        {% for i in selected_categories %}

                        <div class="btn-group">
                            <button class="btn  btn-light btn-lg dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                {{i.name}}
                            </button>

                            <ul class="dropdown-menu">
                                <ul>
                                    <a href="{% url  'filter_by_categories' i.slug %}"
                                       class="underline-one"><h6>{{i.name}}</h6></a>
                                </ul>

                                {% for cat in i.get_children %}
                                <ul>
                                    <a href="{% url  'filter_by_categories' cat.slug %}" class="underline-one">{{cat.name}}</a>

                                </ul>
                                {% endfor %}
                            </ul>

                        </div>
                        {% endfor %}
                    </div>

                </li>


            </ul>

            <ul class="nav justify-content-end">
                {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'my_data' %}">
                        {% if request.user.first_name %}
                        {{request.user.first_name }} {{request.user.last_name}}
                        {% else %}
                        Личный кабинет
                        {% endif %}

                    </a>

                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}"> Выйти</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'registration' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Вход</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>