{% load mptt_tags %}
{% load static %}

{% load main_tags %}


<div class="col-md-1">

    <link rel="stylesheet" href="{%static 'css/cat.css'%}">
    <div class="sidenav">
        <a href="{% url 'see_about' %}">О Нас</a>
        {% get_all_categories as all_categories %}
        {%for cat in all_categories.get_ancestors %}

        {% if  cat.get_children %}
        <button class="dropdown-btn"><h5>{{ cat.name }}</h5>
            <i class="fa fa-caret-down"></i>
        </button>
        {% endif %}

        <div class="dropdown-container">
             <a href="{% url  'filter_by_categories' cat.slug %}"><h6>Все объявления категории</h6></a>
            {% for i in cat.get_children %}
            <a href="{% url  'filter_by_categories' i.slug %}">{{i.name}}</a>
            {% endfor %}
        </div>

        {% endfor %}
    </div>

    <script type="text/javascript" src={% static 'js/cat.js' %}></script>

</div>
