{% load static %}

<link rel="stylesheet" href="{%static 'css/user_bar.css'%}">
<details>
    <summary></summary>
    <nav class="menu">
        <a href="{% url 'authored_ads' %}">Мои объявления</a>
        <a href="{% url 'favorites_advert' %}">Избранное</a>
        <a href="{% url 'my_data' %}">Мои данные</a>
        <a href="#link">Мои отзывы</a>
        <a href="#link">Настройки</a>
    </nav>
</details>